<form action="/data" method = "POST">
    <p>Deltaker 1: <input type = "text" name = "Navn1" /> Antall lodd: <input type = "text" name = "lodd1" /></p>
    <p>Deltaker 2: <input type = "text" name = "Navn2" /> Antall lodd: <input type = "text" name = "lodd2" /></p>
    <p>Deltaker 3: <input type = "text" name = "Navn3" /> Antall lodd: <input type = "text" name = "lodd3" /></p>
    <p>Deltaker 4: <input type = "text" name = "Navn4" /> Antall lodd: <input type = "text" name = "lodd4" /></p>
    <p>Deltaker 5: <input type = "text" name = "Navn5" /> Antall lodd: <input type = "text" name = "lodd5" /></p>
    <p>Deltaker 6: <input type = "text" name = "Navn6" /> Antall lodd: <input type = "text" name = "lodd6" /></p>
    <p><input type = "submit" value = "Send inn" /></p>
</form>